<!DOCTYPE html>
<html>
<head>
    <title>Natac Lobby</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-5" style="display:inline-block; vertical-align:top; margin-top:50px;">
            <h4>Enter each player's name</h4>
            <form action="lobbyReg" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="player1Name" class="col-sm-4 col-form-label">Player 1 Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="player1Name" placeholder="William Wallace" aria-describedby="player1NameError">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "player1Name error" %}
                        <small id="player1NameError" class="form-text" style="color:red;">*{{message}}</small>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="player2Name" class="col-sm-4 col-form-label">Player 2 Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="player2Name" placeholder="Genghis Khan" aria-describedby="player2NameError">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "player2Name error" %}
                        <small id="player2NameError" class="form-text" style="color:red;">*{{message}}</small>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="player3Name" class="col-sm-4 col-form-label">Player 3 Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="player3Name" placeholder="Stoic the Vast" aria-describedby="player3NameError">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "player3Name error" %}
                        <small id="player3NameError" class="form-text" style="color:red;">*{{message}}</small>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="player4Name" class="col-sm-4 col-form-label">Player 4 Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="player4Name" placeholder="Dwayne Johnson" aria-describedby="player4NameError">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "player4Name error" %}
                        <small id="player4NameError" class="form-text" style="color:red;">*{{message}}</small>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-success">Play!</button>

                    </div>
                </div>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == "playersCount error" %}
                <small id="playersCountError" class="form-text" style="color:red;">*{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </form>
        </div>


    </div>
</body>
</html>