<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <title>Index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "style.css" %}' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
</head>
<body>
    <div class="alert alert-danger" role="alert" style="display: none;"></div>
    <div class="alert alert-primary" role="alert" style="display: none;"></div>
    <form id="form" action="/game">
        {% csrf_token %}
        <div id="board">
            <div class="row">
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>11</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>12</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>9</p>
                    <div class="hexBottom"></div>
                </div>
            </div>
            <div class="row">
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>4</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>6</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>5</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>10</p>
                    <div class="hexBottom"></div>
                </div>
            </div>
            <div class="row">
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>2</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>3</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>11</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>4</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>8</p>
                    <div class="hexBottom"></div>
                </div>
            </div>
            <div class="row">
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>8</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>10</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>9</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>3</p>
                    <div class="hexBottom"></div>
                </div>
            </div>
            <div class="row">
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>5</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>2</p>
                    <div class="hexBottom"></div>
                </div>
                <div class="hexagon">
                    <div class="hexTop"></div>
                    <p>6</p>
                    <div class="hexBottom"></div>
                </div>
            </div>
            <div class="settlement_overlay">
                <div class="row">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="row">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="row">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="row bottom">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="row bottom">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="row bottom">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="track-overlay">
                <div class="row hextop">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hexmiddle">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hextop">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hexmiddle">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hextop">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hexmiddle">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hexbottom">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hexmiddle">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hexbottom">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hexmiddle">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
                <div class="row hexbottom">
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                    <div class="track"></div>
                </div>
            </div>
        </div>
    </form>
    <!-- <a href="/game/roll_dice" class="btn btn-primary">Roll Dice!</a> -->
    <button type="button" id="dice" class="btn btn-primary">Roll dice!</button>
    <form action="/game/end_turn" id="end_form">
        {% csrf_token %}
        <button id="end_turn" class="btn btn-danger" disabled="true">End turn</button>
    </form>
    <div class="player_info">
        <div class="player_tab player{{ player.turn_index }}">{{ player.name }}</div>
        <div class="player_stats player{{ player.turn_index }}">
            <h6>{{ player.name }}'s resources: </h6>
            <p>Brick: {{ player.brick }}</p>
            <p>Sheep: {{ player.sheep }}</p>
            <p>Ore: {{ player.ore }}</p>
            <p>Wheat: {{ player.wheat }}</p>
            <p>Lumber: {{ player.lumber }}</p>
            <p>Victory Points: {{ player.vic_points }}</p>
        </div>
    </div>
    <a id="free" href="/game/resources">Free stuff here</a>
    <div class="log">
        {% for message in log reversed %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    <div id="trade-btns">
        <form id="tradeform">
            {% csrf_token %}
            {% for player in all_players %}
                <button class="trading btn btn-warning player{{ player.turn_index }}" id={{ player.id }}>Trade with {{player.name}}</button>
            {% endfor %}
        </form>
        <form id="banktradeform">
            {% csrf_token %}
            <button class ="btn btn-success" id="banktrade">Trade with the bank!</button>
        </form>
    </div>
    <div id="wrapper" style="display: none"></div>
    <div id="bankwrapper" style="display: none"></div>
    <script type="text/javascript">
        $('document').ready(function () {
            $.ajax({
                url: 'game/initialize_db',
                method: 'post',
                data: $('#form').serialize(),
                success: function (serverResponse) {
                    var parsedResponse = JSON.parse(serverResponse);
                    $('.hexagon').each(function () {
                        $(this).addClass(parsedResponse.field_dict[parsedResponse.fields[$(this).data("id")]]);
                        $(this).find('p').html(parsedResponse.num_dict[$(this).data("id")]);
                    });
                    $(".alert-primary").show();
                    $(".alert-primary").html("It is " + parsedResponse.player + "'s turn to put down a settlement.")
                }
            })
            let curr_player = 0;

            // add id data to each field
            let field_id = 1;
            $('.hexagon').each(function () {
                $(this).data("id", field_id);
                field_id++;
            });

            // add id data to each settlement
            let settlement_id = 1;
            $(".circle").each(function () {
                $(this).data("id", settlement_id);
                settlement_id++;
            });

            // add id data to each road
            let road_id = 1
            $(".track").each(function () {
                $(this).data("id", road_id);
                road_id++;
            });

            $(".circle").click(function () {
                var currCircle = $(this)
                $.ajax({
                    url: '/game/settlement/' + $(this).data("id"),
                    method: 'post',
                    data: $('#form').serialize(),
                    success: function (serverResponse) {
                        $(".alert-danger").hide();
                        var parsedResponse = JSON.parse(serverResponse)
                        if (parsedResponse.setup) {
                            $(".alert-primary").html(parsedResponse.setup);
                        }
                        else {
                            $(".alert-primary").hide();
                        }
                        var playerInfo = "<div class='player_tab'>" + parsedResponse.player_info.name + "</div><div class='player_stats'><h6>" + parsedResponse.player_info.name + "'s resources: </h6><p>Brick: " + parsedResponse.player_info.brick + "</p><p>Sheep: " +parsedResponse.player_info.sheep + "</p><p>Ore: " + parsedResponse.player_info.ore + "</p><p>Wheat: " + parsedResponse.player_info.wheat + "</p><p>Lumber: " + parsedResponse.player_info.lumber + "</p><p>Victory Points: " + parsedResponse.player_info.vic_points + "</p></div>"
                        $(".player_info").html(playerInfo)
                        $(".player_stats").addClass("player" + curr_player)
                        $(".player_tab").addClass("player" + curr_player)
                        if (parsedResponse.success === true) {
                            currCircle.addClass('player' + curr_player)
                            if (parsedResponse.city === true) {
                                currCircle.addClass("city")
                            }
                        }
                        else {
                            error_message = "";
                            for (let i = 0; i < parsedResponse.errors.length; i++) {
                                //console.log(parsedResponse.errors[i])
                                error_message += "<p>"
                                error_message += parsedResponse.errors[i];
                                error_message += "</p>";
                            }
                            $(".alert-danger").html(error_message);
                            $(".alert-danger").show();
                        }
                        $(".circle").each(function () {
                            if (parsedResponse.settlements[$(this).data("id")] !== false) {
                                //console.log(parsedResponse.settlements[$(this).data("id")])
                                $(this).addClass("player" + parsedResponse.settlements[$(this).data("id")])
                            }
                        });

                        $(".track").each(function () {
                            if (parsedResponse.roads[$(this).data("id")] !== false) {
                                $(this).addClass("player" + parsedResponse.roads[$(this).data("id")])
                            };
                        });
                        $(".player_stats").addClass("player" + parsedResponse.curr_player)
                        $(".player_tab").addClass("player" + parsedResponse.curr_player)
                    }
                })
            });

            $(".track").click(function () {
                var currTrack = $(this)
                $.ajax({
                    url: '/game/road/' + $(this).data("id"),
                    method: 'post',
                    data: $('#form').serialize(),
                    success: function (serverResponse) {
                        $(".alert-danger").hide();
                        var parsedResponse = JSON.parse(serverResponse)
                        if (parsedResponse.setup) {
                            $(".alert-primary").html(parsedResponse.setup);
                        }
                        else {
                            $(".alert-primary").hide();
                        }
                        var playerInfo = "<div class='player_tab'>" + parsedResponse.player_info.name + "</div><div class='player_stats'><h6>" + parsedResponse.player_info.name + "'s resources: </h6><p>Brick: " + parsedResponse.player_info.brick + "</p><p>Sheep: " +parsedResponse.player_info.sheep + "</p><p>Ore: " + parsedResponse.player_info.ore + "</p><p>Wheat: " + parsedResponse.player_info.wheat + "</p><p>Lumber: " + parsedResponse.player_info.lumber + "</p><p>Victory Points: " + parsedResponse.player_info.vic_points + "</p></div>"
                        $(".player_info").html(playerInfo)
                        $(".player_stats").addClass("player" + curr_player)
                        $(".player_tab").addClass("player" + curr_player)
                        if (parsedResponse.success === true) {
                            currTrack.addClass('player' + curr_player)
                        }
                        else {
                            error_message = "";
                            for (let i = 0; i < parsedResponse.errors.length; i++) {
                                //console.log(parsedResponse.errors[i])
                                error_message += "<p>"
                                error_message += parsedResponse.errors[i];
                                error_message += "</p>";
                            }
                            $(".alert-danger").html(error_message);
                            $(".alert-danger").show();
                        }
                        $(".circle").each(function () {
                            if (parsedResponse.settlements[$(this).data("id")] !== false) {
                                $(this).addClass("player" + parsedResponse.settlements[$(this).data("id")])
                            }
                        });

                        $(".track").each(function () {
                            if (parsedResponse.roads[$(this).data("id")] !== false) {
                                $(this).addClass("player" + parsedResponse.roads[$(this).data("id")])
                            };
                        });
                        $(".player_stats").addClass("player" + parsedResponse.curr_player)
                        $(".player_tab").addClass("player" + parsedResponse.curr_player)
                        //console.log(serverResponse)
                    }
                })
            });

            $("#dice").click(function () {
                $(this).prop("disabled", true);
                $('#end_turn').prop("disabled", false);
                $.ajax({
                    url: '/game/roll_dice',
                    method: 'post',
                    data: $('#form').serialize(),
                    success: function (serverResponse) {
                        $(".alert-danger").hide();
                        console.log("dice rolled")
                        var parsedResponse = JSON.parse(serverResponse)
                        //console.log(parsedResponse)
                        var playerInfo = "<div class='player_tab'>" + parsedResponse.player_info.name + "</div><div class='player_stats'><h6>" + parsedResponse.player_info.name + "'s resources: </h6><p>Brick: " + parsedResponse.player_info.brick + "</p><p>Sheep: " + parsedResponse.player_info.sheep + "</p><p>Ore: " + parsedResponse.player_info.ore + "</p><p>Wheat: " + parsedResponse.player_info.wheat + "</p><p>Lumber: " + parsedResponse.player_info.lumber + "</p><p>Victory Points: " + parsedResponse.player_info.vic_points + "</p></div>"
                        $(".player_info").html(playerInfo)
                        $(".player_stats").addClass("player" + curr_player)
                        $(".player_tab").addClass("player" + curr_player)
                        let message = ""
                        for (let i = 0; i < parsedResponse.log.length; i++) {
                            message += "<p>"
                            message += parsedResponse.log[i]
                            message += "</p>"
                        }
                        $(".log").prepend(message)

                        $(".circle").each(function () {
                            if (parsedResponse.settlements[$(this).data("id")] !== false) {
                                //console.log(parsedResponse.settlements[$(this).data("id")])
                                $(this).addClass("player" + parsedResponse.settlements[$(this).data("id")])
                            }
                        });

                        $(".track").each(function () {
                            if (parsedResponse.roads[$(this).data("id")] !== false) {
                                $(this).addClass("player" + parsedResponse.roads[$(this).data("id")])
                            };
                        });
                    }
                });
                return false
            })
            $(".trading").click(function (e) {
                $.ajax({
                    url: '/trading/' + $(this).attr("id"),
                    method: 'post',
                    data: $('#tradeform').serialize(),
                    success: function(serverResponse) {
                        try {
                            let parsedResponse = JSON.parse(serverResponse)
                            $(".alert-danger").html(parsedResponse.error);
                            $(".alert-danger").show();
                        } 
                        catch(SyntaxError){
                            $(".alert-danger").hide();
                            $("#wrapper").html(serverResponse);
                            $("#wrapper").show()
                            $("#nvm").click(function(e){
                                $("#wrapper").hide();
                            });
                            $("#confirm").click(function(e){
                                $.ajax({
                                    url: '/trading/trade',
                                    method: 'post',
                                    data: $('#tradedata').serialize(),
                                    success: function(serverResponse) {
                                        $("#wrapper").hide();
                                    }
                                })
                            })
                        }
                    }
                })
                e.preventDefault();
            })

            $("#banktrade").click(function (e) {
                $.ajax({
                    url: '/trading/bank',
                    method: 'post',
                    data: $('#banktradeform').serialize(),
                    success: function (serverResponse) {
                        $("#bankwrapper").html(serverResponse);
                        $("#bankwrapper").show()
                        $("#nvm").click(function (e) {
                            $("#bankwrapper").hide();
                        });
                        $("#bankconfirm").click(function (e) {
                            console.log("tried to trade with bank")
                            $.ajax({
                                url: '/trading/tradeBank',
                                method: 'post',
                                data: $('#tradebankform').serialize(),
                                success: function (serverResponse) {
                                    console.log("traded with bank")
                                    $("#bankwrapper").hide();
                                }
                            })
                            e.preventDefault();
                        })
                    }
                })
                e.preventDefault();
            })

            $("#end_turn").click(function () {
                $('#dice').prop("disabled", false);
                $(this).prop("disabled", true);
                $.ajax({
                    url: '/game/end_turn',
                    method: 'post',
                    data: $('#end_form').serialize(),
                    success: function (serverResponse) {
                        try {
                            $(".alert-danger").hide();
                            let parsedResponse = JSON.parse(serverResponse)
                            var playerInfo = "<div class='player_tab'>" + parsedResponse.player_info.name + "</div><div class='player_stats'><h6>" + parsedResponse.player_info.name + "'s resources: </h6><p>Brick: " + parsedResponse.player_info.brick + "</p><p>Sheep: " + parsedResponse.player_info.sheep + "</p><p>Ore: " + parsedResponse.player_info.ore + "</p><p>Wheat: " + parsedResponse.player_info.wheat + "</p><p>Lumber: " + parsedResponse.player_info.lumber + "</p><p>Victory Points: " + parsedResponse.player_info.vic_points + "</p></div>"
                            $(".player_info").html(playerInfo)
                            curr_player = parsedResponse.curr_player;
                            let player = "player" + curr_player;
                            $(".player_stats").addClass("player" + curr_player)
                            $(".player_tab").addClass("player" + curr_player)
                        }
                        catch (SyntaxError) {
                            $('body').html(serverResponse)
                        }
                    }
                })
                return false
            })

            $(".player_info").click(function () {
                $(".player_stats").toggle("slide", { direction: "left", easing: "linear" });
            });
        });

    </script>
</body>
</html>