<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

    
        
        
        {% load static %}
<div>
    <h4>{{ Victor.name }} has won!</h4>
    <p>Through trade and industry, {{ Victor.name }}'s settlers have established a dominant position in the fertile land of Natac. Gleaming cities and rising settlements blossom across the countryside, filled with bustling craftsmen, proud farmers, and noble knights. {{ Victor.name }}'s wise leadership will surely be recognized forevermore in the annals of history.</p>
</div>
<a>Return to lobby</a>
</div>
</body></html>